<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="test" thread-count="5"/>
 
 <test name="Homepage Testing ">
    <classes>  
      <class name="mapSYNQ.HomePage"/>
    </classes>
    </test> 
   
    <test name="validtaing registration">
    <classes>    
    <class name="mapSYNQ.ValidateRegistrationForm"/>
    </classes>   
  </test>
  <test name="Validate searching ">
    <classes>  
      <class name="mapSYNQ.SearchText"/>
    </classes>
    </test>
  
</suite> 
